@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-color: #00A9B3;
}

a{
    text-decoration: none;
    color: white;
}

.logo{
    transform: rotate(5.01deg);
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.nav-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-list a{
    padding: 0 10px;
}

.mobile-menu{
    cursor: pointer;
    display: none;
    margin: 0 30px;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
}

.navbar-decoration{
    position: absolute;
    width: 30%;
    left: 0px;
    top: 0px;
}

.navbar-secondary{
    align-items: center;
    background: #ffffff;
    display: flex;
    justify-content: center;
    height: 9vh;
}

.nav-list2{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    min-width: 300px;
    color: #00A9B3;
}

.nav-list2 li{
    padding: 4px ;
}

main{
    margin-bottom: 0px;
}

.background{
    width: 100%;
}

.search{
    display: flex;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-end;
    margin-top: -23%;
}

.search input{
    border: 0 solid white;
    height: 40px;
    width: 50%;
    min-width: 220px;
    color: #00A9B3;
}

.search button{
    border: 0 solid white;
    background-color: #ffffff;
    padding: 0 3px;
}

.main-decoration{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid silver;
    background-color: #00A9B3;
    color: white;
}



@media (max-width: 874px) {
    body{
        overflow-x: hidden;
    }

    .nav-list{
        position: absolute;
        top: 12vh;
        right: 0;
        width: 50vw;
        height: 42vh;
        background: #00A9B3;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 3px solid white;
        transform: translateX(100%);
    }

    .nav-list li{
        margin-left: 0;
    }

    .mobile-menu{
        display: block;
    }

    .nav-list2{
        display: grid;
        grid-template-areas: "1 2 3 4";
    }
}